#container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: grey;
}

#main {
    display: inline-grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 60% 40%;
    width: 100%;
    height: 100%;
}

.menu-items {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.menu-items>li>span {
    pointer-events: none;
    font-size: 1.5em;
    /*       t  r   b  l */
    padding: 0 .5em 0 .5em;
}

.menu-items>li {
    /*       t  r   b  l */
    padding: 0.2em 0 0.2em 0;
}

.menu-items .selected {
    background-color: rgb(0, 255, 0);
}