#doc-list {
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5em;
    color: rgb(0, 255, 0);
    border: 0.2em solid rgb(0, 255, 0);

    position: absolute;
    top: 0em;
    left: 1em;
    bottom: 0em;
    right: -2em;
    width: 50%;
    padding-left: 0;
    margin: auto 0;
    
    /* pointer-events: none; */
    transition: 0.1s ease-in-out;
    /* transition: 0.3s; */
    /* transform: rotate(0deg); */
}

#doc-list>li {
    padding-left: 0.5em;
}

#doc-list.closed {
    height: 0;
    opacity: 0;
}

#doc-list.closed>li {
    display: none;
}

#doc-list.opened {
    height: 50%;
    opacity: 1;
}

#doc-list.opened>li {
    display: list-item;
}

#doc-list li.selected {
    color: black;
    background-color: rgb(0, 255, 0);
}