#container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}

#title {
    display: inline-grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 60% 40%;
    width: 100%;
    height: 100%;
}

.menu-items {
    list-style: none;
    text-align: center;
    padding-left: 0;
}